{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}
<style>
    a{
        color:white;
    }
</style>
<body class="m-0 p-0" style="background-color: #0A323C;">
 
        <div class="d-flex row">
            <aside class="m-2 col-6" style="">
                <h1>순위</h1>
                <div class="wrap">
                    <div class="tab_menu d-flex justify-content-center">
                        <ul class="list">
                            <li class="is_on">
                                <a href="#top" class="btn">탑</a>
                            </li>
                            <li>
                                <a href="#jungle" class="btn">정글</a>
                            </li>
                            <li>
                                <a href="#mid" class="btn">미드</a>
                            </li>
                            <li>
                                <a href="#adc" class="btn">바텀</a>
                            </li>
                            <li>
                                <a href="#support" class="btn">서포터</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cont_area">
                        <div id="top" class="cont" style="display:block;">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                    
                                            <th scope="col" class="c-name">챔피언</th>
                                            
                                            <th scope="col" class="c-percent">승률</th>
                                            <th scope="col" class="c-percent">픽률</th>
                                            <th scope="col" class="c-percent">밴률</th>
                                            <th scope="col" class="c-name">어려운 챔피언</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody class="text-center">
                                        {% for t in top %}
                                        <tr>
                                            <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt="" style="width: 40px; height: 40px; border-radius: 5px;"><a href=""><a href="">{{ t.name}}</a></a></td>
                                            <td scope="col" class="c-percent-t">{{ t.win }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                                            <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}"
                                                    alt=""
                                                    style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                                    src="{{ t.hard.2 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="jungle" class="cont" style="display:none;">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                    
                                            <th scope="col" class="c-name">챔피언</th>
                                            
                                            <th scope="col" class="c-percent">승률</th>
                                            <th scope="col" class="c-percent">픽률</th>
                                            <th scope="col" class="c-percent">밴률</th>
                                            <th scope="col" class="c-name">어려운 챔피언</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody class="text-center">
                                        {% for t in jg %}
                                        <tr>
                                        
                                            <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt=""
                                                    style="width: 40px; height: 40px; border-radius: 5px;">
                                                <a href="">{{ t.name}}</a></td>
                                        
                                            <td scope="col" class="c-percent-t">{{ t.win }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                                            <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}"
                                                    alt=""
                                                    style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                                    src="{{ t.hard.2 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="mid" class="cont" style="display:none;">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                    
                                            <th scope="col" class="c-name">챔피언</th>
                                            
                                            <th scope="col" class="c-percent">승률</th>
                                            <th scope="col" class="c-percent">픽률</th>
                                            <th scope="col" class="c-percent">밴률</th>
                                            <th scope="col" class="c-name">어려운 챔피언</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody class="text-center">
                                        {% for t in mid %}
                                        <tr>
                                        
                                            <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt=""
                                                    style="width: 40px; height: 40px; border-radius: 5px;">
                                                <a href="">{{ t.name}}</a></td>
                                        
                                            <td scope="col" class="c-percent-t">{{ t.win }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                                            <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}"
                                                    alt=""
                                                    style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                                    src="{{ t.hard.2 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="adc" class="cont" style="display:none;">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                    
                                            <th scope="col" class="c-name">챔피언</th>
                                            
                                            <th scope="col" class="c-percent">승률</th>
                                            <th scope="col" class="c-percent">픽률</th>
                                            <th scope="col" class="c-percent">밴률</th>
                                            <th scope="col" class="c-name">어려운 챔피언</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody class="text-center">
                                        {% for t in adc %}
                                        <tr>
                                        
                                            <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt=""
                                                    style="width: 40px; height: 40px; border-radius: 5px;">
                                                <a href="">{{ t.name}}</a></td>
                                        
                                            <td scope="col" class="c-percent-t">{{ t.win }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                                            <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}"
                                                    alt=""
                                                    style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                                    src="{{ t.hard.2 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="support" class="cont" style="display:none;">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                    
                                            <th scope="col" class="c-name">챔피언</th>
                                            
                                            <th scope="col" class="c-percent">승률</th>
                                            <th scope="col" class="c-percent">픽률</th>
                                            <th scope="col" class="c-percent">밴률</th>
                                            <th scope="col" class="c-name">어려운 챔피언</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody class="text-center">
                                        {% for t in sup %}
                                        <tr>
                                        
                                            <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt=""
                                                    style="width: 40px; height: 40px; border-radius: 5px;">
                                                <a href="">{{ t.name}}</a></td>
                                        
                                            <td scope="col" class="c-percent-t">{{ t.win }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                                            <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                                            <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}"
                                                    alt=""
                                                    style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                                    src="{{ t.hard.2 }}" alt=""
                                                    style="border-radius: 100%; width: 25px;">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <article class="m-2 d-none d-lg-block col-lg-6 cont_area">
            </article>
        </div>

</body>

<!-- 랭킹 탭 메뉴 JS -->
<script src="{% static 'js/champions_index.js' %}"></script>
<!-- 랭킹 탭 메뉴 CSS -->
<link rel="stylesheet" href="{% static 'css/champions_index.css' %}">

{% endblock content %}