<div>
    {{ detail.name }}
    {{ detail.lane }}
    <hr>
    {{ detail.rune_j_name }}
    <img src="{{ detail.rune_j }}" alt="">
    <img src="{{ detail.rune_js.0 }}" alt="">
    <img src="{{ detail.rune_js.1 }}" alt="">
    <img src="{{ detail.rune_js.2 }}" alt="">
    <img src="{{ detail.rune_js.3 }}" alt="">
    <img src="{{ detail.rune_js.4 }}" alt="">
    <img src="{{ detail.rune_js.5 }}" alt="">
    <img src="{{ detail.rune_js.6 }}" alt="">
    <img src="{{ detail.rune_js.7 }}" alt="">
    <img src="{{ detail.rune_js.8 }}" alt="">
    <img src="{{ detail.rune_js.9 }}" alt="">
    <img src="{{ detail.rune_js.10 }}" alt="">
    <img src="{{ detail.rune_js.11 }}" alt="">
    <img src="{{ detail.rune_js.12 }}" alt="">
    <img src="{{ detail.rune_js.13 }}" alt="">
    <hr>
    {{ detail.rune_k_name }}
    <img src="{{ detail.rune_k }}" alt="">
    <img src="{{ detail.rune_ks.0 }}" alt="">
    <img src="{{ detail.rune_ks.1 }}" alt="">
    <img src="{{ detail.rune_ks.2 }}" alt="">
    <img src="{{ detail.rune_ks.3 }}" alt="">
    <img src="{{ detail.rune_ks.4 }}" alt="">
    <img src="{{ detail.rune_ks.5 }}" alt="">
    <img src="{{ detail.rune_ks.6 }}" alt="">
    <img src="{{ detail.rune_ks.7 }}" alt="">
    <img src="{{ detail.rune_ks.8 }}" alt="">
    <img src="{{ detail.rune_ks.9 }}" alt="">
    <img src="{{ detail.rune_ks.10 }}" alt="">
    <img src="{{ detail.rune_ks.11 }}" alt="">
    <img src="{{ detail.rune_ks.12 }}" alt="">
    <img src="{{ detail.rune_ks.13 }}" alt="">
    <hr>
    {{ detail.rune_n_name }}
    <img src="{{ detail.rune_n.0 }}" alt="">
    <img src="{{ detail.rune_n.1 }}" alt="">
    <img src="{{ detail.rune_n.2 }}" alt="">
    <img src="{{ detail.rune_n.3 }}" alt="">
    <img src="{{ detail.rune_n.4 }}" alt="">
    <img src="{{ detail.rune_n.5 }}" alt="">
    <img src="{{ detail.rune_n.6 }}" alt="">
    <img src="{{ detail.rune_n.7 }}" alt="">
    <img src="{{ detail.rune_n.8 }}" alt="">
    <img src="{{ detail.rune_n.9 }}" alt="">
    <img src="{{ detail.rune_n.10 }}" alt="">
    <img src="{{ detail.rune_n.11 }}" alt="">
    <img src="{{ detail.rune_n.12 }}" alt="">
    <img src="{{ detail.rune_n.13 }}" alt="">
    <hr>
    룬 조합
    <img src="{{ detail.rune_img1.0 }}" alt="">
    <img src="{{ detail.rune_img1.1 }}" alt="">
    <img src="{{ detail.rune_img1.2 }}" alt="">
    {{ detail.rune_pick1 }}
    {{ detail.rune_win1 }}
    <img src="{{ detail.rune_img2.0 }}" alt="">
    <img src="{{ detail.rune_img2.1 }}" alt="">
    <img src="{{ detail.rune_img2.2 }}" alt="">
    {{ detail.rune_pick2 }}
    {{ detail.rune_win2 }}
    <hr>
    스킬
    <img src="{{ detail.skill.0 }}" alt="">
    <img src="{{ detail.skill.1 }}" alt="">
    <img src="{{ detail.skill.2 }}" alt="">
    <hr>
    스킬 트리
    {{ detail.skilltree.0 }}
    {{ detail.skilltree.1 }}
    {{ detail.skilltree.2 }}
    <hr>
    스킬 트리 순서
    {{ detail.skilltrees.0 }}
    {{ detail.skilltrees.1 }}
    {{ detail.skilltrees.2 }}
    {{ detail.skilltrees.3 }}
    {{ detail.skilltrees.4 }}
    {{ detail.skilltrees.5 }}
    {{ detail.skilltrees.6 }}
    {{ detail.skilltrees.7 }}
    {{ detail.skilltrees.8 }}
    {{ detail.skilltrees.9 }}
    {{ detail.skilltrees.10 }}
    {{ detail.skilltrees.11 }}
    {{ detail.skilltrees.12 }}
    {{ detail.skilltrees.12 }}
    {{ detail.skilltrees.13 }}
    {{ detail.skilltrees.14 }}
    {{ detail.skilltrees.15 }}
    {{ detail.skilltrees.16 }}
    <hr>
    스킬픽 / 스킬승률
    {{ detail.skillpick }}
    {{ detail.skillwin }}
    <hr>
    시작 아이템
    <img src="{{ detail.s_item1.0 }}" alt="">
    <img src="{{ detail.s_item1.1 }}" alt="">
    {{ detail.s_itempick1 }}
    {{ detail.s_itemwin1 }}
    <img src="{{ detail.s_item2.0 }}" alt="">
    <img src="{{ detail.s_item2.1 }}" alt="">
    {{ detail.s_itempick2 }}
    {{ detail.s_itemwin2 }}
    <hr>
    신발
    <img src="{{ detail.s_shoe1 }}" alt="">
    {{ detail.s_shoepick1 }}
    {{ detail.s_shoewin1 }}
    <img src="{{ detail.s_shoe2 }}" alt="">
    {{ detail.s_shoepick2 }}
    {{ detail.s_shoewin2 }}
    <hr>
    아이템
    <img src="{{ detail.item1.0 }}" alt="">
    <img src="{{ detail.item1.1 }}" alt="">
    <img src="{{ detail.item1.2 }}" alt="">
    {{ detail.itempick1 }}
    {{ detail.itemwin1 }}
    <br>
    <img src="{{ detail.item2.0 }}" alt="">
    <img src="{{ detail.item2.1 }}" alt="">
    <img src="{{ detail.item2.2 }}" alt="">
    {{ detail.itempick2 }}
    {{ detail.itemwin2 }}
    <br>
    <img src="{{ detail.item3.0 }}" alt="">
    <img src="{{ detail.item3.1 }}" alt="">
    <img src="{{ detail.item3.2 }}" alt="">
    {{ detail.itempick3 }}
    {{ detail.itemwin3 }}
    <br>
    <img src="{{ detail.item4.0 }}" alt="">
    <img src="{{ detail.item4.1 }}" alt="">
    <img src="{{ detail.item4.2 }}" alt="">
    {{ detail.itempick4 }}
    {{ detail.itemwin4 }}
    <br>
    <img src="{{ detail.item5.0 }}" alt="">
    <img src="{{ detail.item5.1 }}" alt="">
    <img src="{{ detail.item5.2 }}" alt="">
    {{ detail.itempick5 }}
    {{ detail.itemwin5 }}
    <hr>
    상대하기 어려운 챔피언
    <img src="{{ detail.hard_img.0 }}" alt="">
    {{ detail.hard_win.0 }}
    <img src="{{ detail.hard_img.1 }}" alt="">
    {{ detail.hard_win.1 }}
    <img src="{{ detail.hard_img.2 }}" alt="">
    {{ detail.hard_win.2 }}
    <img src="{{ detail.hard_img.3 }}" alt="">
    {{ detail.hard_win.3 }}
    <img src="{{ detail.hard_img.4 }}" alt="">
    {{ detail.hard_win.4 }}
    <hr>
    상대하기 쉬운 챔피언
    <img src="{{ detail.easy_img.0 }}" alt="">
    {{ detail.easy_win.0 }}
    <img src="{{ detail.easy_img.1 }}" alt="">
    {{ detail.easy_win.1 }}
    <img src="{{ detail.easy_img.2 }}" alt="">
    {{ detail.easy_win.2 }}
    <img src="{{ detail.easy_img.3 }}" alt="">
    {{ detail.easy_win.3 }}
    <img src="{{ detail.easy_img.4 }}" alt="">
    {{ detail.easy_win.4 }}
    <hr>
</div>

<div class="cont_area">
    <div id="top" class="cont" style="display:block;">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" class="c-rank">순위</th>
                        <th scope="col" class="c-name">챔피언</th>
                        <th scope="col" class="c-rank">티어</th>
                        <th scope="col" class="c-percent">승률</th>
                        <th scope="col" class="c-percent">픽률</th>
                        <th scope="col" class="c-percent">밴률</th>
                        <th scope="col" class="c-name">어려운 챔피언</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0">
                <tbody class="text-center">
                    {% for t in top %}
                    <tr>
                        <td scope="col" class="c-name-t"><img src="{{ t.img }}" alt=""
                                style="width: 25px; height: 25px; border-radius: 5px;">
                            {{ t.name}}</td>
                        <td scope="col" class="c-rank-t">
                            {% if t.tier == '0' %}
                            <img src="/static/images/t_op.png" alt="" style="width: 24px; height: 24px;">
                            {% elif t.tier == '1' %}
                            <img src="/static/images/t_1.png" alt="" style="width: 24px; height: 24px;">
                            {% elif t.tier == '2' %}
                            <img src="/static/images/t_2.png" alt="" style="width: 24px; height: 24px;">
                            {% elif t.tier == '3' %}
                            <img src="/static/images/t_3.png" alt="" style="width: 24px; height: 24px;">
                            {% elif t.tier == '4' %}
                            <img src="/static/images/t_4.png" alt="" style="width: 24px; height: 24px;">
                            {% else %}
                            <img src="/static/images/t_5.png" alt="" style="width: 24px; height: 24px;">
                            {% endif %}
                        </td>
                        <td scope="col" class="c-percent-t">{{ t.win }}</td>
                        <td scope="col" class="c-percent-t">{{ t.pick }}</td>
                        <td scope="col" class="c-percent-t">{{ t.ben }}</td>
                        <td scope="col" class="c-name-t"><img src="{{ t.hard.0 }}" alt=""
                                style="border-radius: 100%; width: 25px;"><img src="{{ t.hard.1 }}" alt=""
                                style="border-radius: 100%; width: 25px; margin-left: 5px; margin-right: 5px;"><img
                                src="{{ t.hard.2 }}" alt="" style="border-radius: 100%; width: 25px;">
                        </td>
                        <td scope="col">
                            <div class="dropsdown">
                                <button class="dropsbtn">{{ t.c_title }} <i class="bi bi-droplet-fill"></i></button>
                                <div class="dropsdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="jungle" class="cont" style="display:none;">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" class="c-rank">순위</th>
                        <th scope="col" class="c-name">챔피언</th>
                        <th scope="col" class="c-rank">티어</th>
                        <th scope="col" class="c-percent">승률</th>
                        <th scope="col" class="c-percent">픽률</th>
                        <th scope="col" class="c-percent">밴률</th>
                        <th scope="col" class="c-name">어려운 챔피언</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">

        </div>
    </div>
    <div id="mid" class="cont" style="display:none;">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" class="c-rank">순위</th>
                        <th scope="col" class="c-name">챔피언</th>
                        <th scope="col" class="c-rank">티어</th>
                        <th scope="col" class="c-percent">승률</th>
                        <th scope="col" class="c-percent">픽률</th>
                        <th scope="col" class="c-percent">밴률</th>
                        <th scope="col" class="c-name">어려운 챔피언</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">

        </div>
    </div>
    <div id="adc" class="cont" style="display:none;">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" class="c-rank">순위</th>
                        <th scope="col" class="c-name">챔피언</th>
                        <th scope="col" class="c-rank">티어</th>
                        <th scope="col" class="c-percent">승률</th>
                        <th scope="col" class="c-percent">픽률</th>
                        <th scope="col" class="c-percent">밴률</th>
                        <th scope="col" class="c-name">어려운 챔피언</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">

        </div>
    </div>
    <div id="support" class="cont" style="display:none;">
        <div class="tbl-header">

        </div>
    </div>
</div>