.card {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 300px;
    margin: 0 auto;
    display: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25rem;
}

.form-group:last-child {
    margin: 0;
}

.form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}

.form-group > input{
    border: 1px solid #333;
    border-radius: .25em;
    font-size: 1rem;
    padding: .25em;
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.card.active {
    display: block;
}
