* {
    margin: 0;
    padding: 0;
    color: azure;

}

/* 드롭다운 */
.dropsbtn {
    background-color: #0A323C;
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropsbtn:hover {
    font-weight: bold;
}

.dropsdown {
    position: relative;
    display: inline-block;
}

.dropsdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropsdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropsdown-content a:hover {
    background-color: #f1f1f1;
    font-weight: bold;

}

.dropsdown:hover .dropsdown-content {
    display: block;
}

.dropsdown:hover .dropssbtn {
    background-color: #0A323C;
}

/* 테이블 */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a.btn:hover {
    border-style: none;
}

.wrap {
    padding: 15px;
    letter-spacing: -0.5px;
}

.tab_menu {
    position: relative;
}

.tab_menu .list {
    overflow: hidden;
}

.tab_menu .list li {
    float: left;
    margin-right: 14px;
}

.tab_menu .list li.is_on .btn {
    font-weight: bold;
    color: gold;
    font-family: 'S-bold';
}

.tab_menu .list .btn {
    font-size: 20px;
    color: #fff;
    font-family: 'S-bold';
    font-weight: bold;
}

.tab_menu .cont_area .cont {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background: #555;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100px;
}

/* 테이블 CSS */
h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'B-bold';
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 650px;
    overflow-x: auto;
    margin-top: 0px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.champs {
    height: 738px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    /* font-weight: 500; */
    /* font-size: 12px; */
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.c-rank {
    width: 25%;
    font-family: 'basic-ko';
    font-size: 15px;
    text-align: center;
}

.c-champ {
    width: 15%;
    font-family: 'basic-ko';
    font-size: 15px;
    text-align: center;
}

.c-percent {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 7%;
    text-align: center;
}

.c-tier {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 7%;
    text-align: center;
}

.c-tip {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 25%;
    text-align: center;
}

.c-rank-t {
    width: 25%;
    font-family: 'basic-ko';
    font-size: 15px;
    text-align: center;
}

.c-champ-t {
    width: 15%;
    font-family: 'basic-ko';
    font-size: 15px;
    text-align: left;
}

.c-percent-t {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 7%;
    text-align: center;
}

.c-tier-t {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 7%;
    text-align: center;
}

.c-tip-t {
    font-family: 'basic-ko';
    font-size: 15px;
    width: 25%;
    text-align: center;
}