* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a.btn:hover {
    border-style: none;
}

.wrap {
    padding: 15px;
    letter-spacing: -0.5px;
}

.tab_menu {
    position: relative;
}

.tab_menu .list {
    overflow: hidden;
}

.tab_menu .list li {
    float: left;
    margin-right: 14px;
}

.tab_menu .list li.is_on .btn {
    font-weight: bold;
    color: gold;
    font-family: 'S-bold';
}

.tab_menu .list .btn {
    font-size: 20px;
    color: #fff;
    font-family: 'S-bold';
    font-weight: bold;
}

.tab_menu .cont_area .cont {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background: #555;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100px;
}

/* 테이블 CSS */
h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'B-bold';
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 600px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.champs {
    height: 738px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    /* font-weight: 500; */
    /* font-size: 12px; */
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.c-rank {
    width: 70px;
    font-family: 'basic-ko';
    font-size: 15px;
}

.c-name {
    width: 156px;
    font-family: 'basic-ko';
    font-size: 15px;
}

.c-percent {
    font-family: 'basic-ko';
    font-size: 15px;
}

.c-rank-t {
    width: 70px;
    font-family: 'B-bold';
    font-weight: bold;
    font-size: 15px;
}

.c-name-t {
    width: 156px;
    font-family: 'basic-ko';
    font-size: 15px;
}

.c-percent-t {
    font-family: 'basic-ko';
    font-size: 15px;
}

.r-img {
    height: 10px;
    width: 10px;
}