{% extends 'accountsBase.html' %}
{% load django_bootstrap5 %}
{% load static %}
<link rel="stylesheet" href="/static/css/accountsdatail.css"><!-- accounts.css -->
{% block title %}
내 정보
{% endblock %}
{% block style %}
<style>
    a{
        text-decoration:none;
    }
</style>

{% endblock %}

{% block content %}

<div class="member-settings-layout__content-inner">
  <div class="member-settings-layout__title">
    <h2 class="member-settings-layout_name">
      {{user.username}}님의 프로필
    </h2>
    <div class="member-settings-layout_name member-settings-layout_tier">
      {% if grade == '신선한물' %}
      <img src="/static/images/grade/{{ grade }}.png" alt="">{{ grade }}
      {% elif grade  == '맑은물' %}
      <img src="/static/images/grade/{{ grade }}.png" alt="">{{ grade }}
      {% elif grade  == '탁한물' %}
      <img src="/static/images/grade/{{ grade }}.png" alt="">{{ grade }}
      {% elif grade  == '고인물' %}
      <img src="/static/images/grade/{{ grade }}.png" alt="">{{ grade }}
      {% elif grade  == '썩은물' %}
      <img src="/static/images/grade/{{ grade }}.png" alt="">{{ grade }}
      {% endif %}
    </div>
  </div>
  {% if user.profile %}
  {% if user.profile.intro %}
  <div class="member-settings-layout__title_sub ms-4"><p style="font-size:14px;">{{ user.profile.intro }}</p></div>
  {% endif %}
  <div class="member-settings-layout__title_sub ms-4"><p style="font-size:14px;">게시물을 아래에서 확인하세요</p></div>
  {% else %}
  <div class="member-settings-layout__title_sub ms-4"><p style="font-size:14px;">게시물을 아래에서 확인하세요</div>
  {% endif %}
  <div class="edit">
    <div class="list" style="font-size: 14px;">
      <a class="tab-button" id="link_user_articles" data-bs-toggle="collapse" href="#user_articles" role="button" aria-expanded="false" aria-controls="collapseExample">작성한 글</a>
      <a class="tab-button" id="link_like_articles" data-bs-toggle="collapse" href="#like_articles" role="button" aria-expanded="false" aria-controls="collapseExample">좋아요</a>
      <a class="tab-button" id="link_bookmark_articles" data-bs-toggle="collapse" href="#bookmark_articles" role="button" aria-expanded="false" aria-controls="collapseExample">와드</a>
    </div>
    
    <!-- 글 목록 -->
    <div>
      <!-- 작성한 글 -->
    <div class="collapse" id="user_articles">
      <div class="mx-3 row">
        {% for article in articles %}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-3">
          <a href="{% url 'articles:detail' article.pk %}">
              <div class="card glow">
                <!-- 첫 번째 이미지를 썸네일로 -->
                {% if article.photo %}
                <img src="{{ article.photo.url }}" class="card-img-top" alt="..." height="300px">
                {% else %}
                <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="300px">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
                  
                  <!-- 유저 -->
                  <div class="mb-2">
                    <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                      {% comment %} {% if article.user.profile.image %}
                      <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                      {% else %}
                        <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                        {% endif %} {% endcomment %}
                        <span class="2">{{ article.user.username }}</span>
                    </a>
                  </div>                
                  <div class="card-title card-title-text mb-2"><a class="text-dark" href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></div>

                  <!-- 좋아요, 댓글, 조회수, 북마크 -->
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted fs-6">
                      {% if request.user.is_authenticated %}
                      <div class="like-forms d-inline" data-article-id="{{ article.pk }}">
                        {% if request.user in article.like_user.all %}
                            <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
                            {% else %}
                            <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
                          {% endif %}
                        </div>
                        <span id="like-count" class="text-muted me-3">{{ article.like_user.count }}</span>
                      {% endif %}

                      <span class="bi bi-chat-dots-fill me-3"> 
                        <span class="">{{ article.comment_set.all.count }}</span>
                      </span>                                    
                    </div>
                    
                    <div>
                      {% if request.user.is_authenticated %}
                        <div class="bookmark-forms d-inline" data-article-id="{{ article.pk }}">
                          {% if request.user in article.bookmark_user.all %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark-fill"></i>
                          {% else %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark"></i>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>          
          </div>
          {% endfor %}     
        </div>
    </div>

    <!-- 좋아요한 글 -->
    <div class="collapse" id="like_articles">
      <div class=" mx-3 row">
        {% for article in like_articles %}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-3" id="like-{{ article.pk }}">
            <a href="{% url 'articles:detail' article.pk %}">
              <div class="card glow">
                <!-- 첫 번째 이미지를 썸네일로 -->
                {% if article.photo %}
                  <img src="{{ article.photo.url }}" class="card-img-top" alt="..." height="300px">
                  {% else %}
                  <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="300px">
                  {% endif %}
                  
                  <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
                    <!-- 유저 -->
                    <div class="mb-2">
                    <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                      {% comment %} {% if article.user.profile.image %}
                        <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                      {% else %}
                      <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                      {% endif %} {% endcomment %}
                      <span class="">{{ article.user.username }}</span>
                    </a>
                  </div>
                  <div class="card-title card-title-text mb-2"><a class="text-dark" href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></div>
                  
                  <!-- 좋아요, 댓글, 조회수, 북마크 -->
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted fs-6">
                      {% if request.user.is_authenticated %}
                        <div class="like-forms d-inline" data-article-id="{{ article.pk }}">
                          {% if request.user in article.like_user.all %}
                          <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
                          {% else %}
                            <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
                            {% endif %}
                          </div>
                        <span id="like-count" class="text-muted me-3">{{ article.like_user.count }}</span>
                        {% endif %}

                        <span class="bi bi-chat-dots-fill me-3"> 
                        <span class="">{{ article.comment_set.all.count }}</span>
                      </span>                                    
                    </div>

                    <div>
                      {% if request.user.is_authenticated %}
                        <div class="bookmark-forms d-inline" data-article-id="{{ article.pk }}">
                          {% if request.user in article.bookmark_user.all %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark-fill"></i>
                          {% else %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark"></i>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>          
          </div>
          {% endfor %}     
      </div>
    </div>

    <!-- 북마크한 글 -->
    {% if user == request.user %}
      <div class="collapse" id="bookmark_articles">
        <div class="mx-3 row">
          {% for article in bookmark_articles %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3" id="bookmark-{{ article.pk }}">
              <a href="{% url 'articles:detail' article.pk %}">
                <div class="card glow">
                  <!-- 첫 번째 이미지를 썸네일로 -->
                  {% if article.photo %}
                    <img src="{{ article.photo.url }}" class="card-img-top" alt="..." height="300px">
                  {% else %}
                    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="300px">
                    {% endif %}

                  <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
                    <!-- 유저 -->
                    <div class="mb-2">
                      <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                        {% if article.user.profile.image %}
                        <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                        {% else %}
                          <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                        {% endif %}
                        <span class="ms-2">{{ article.user.username }}</span>
                      </a>
                    </div>
                    <div class="card-title card-title-text mb-2"><a class="text-dark" href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></div>

                    <!-- 좋아요, 댓글, 조회수, 북마크 -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="text-muted fs-6">
                        {% if request.user.is_authenticated %}
                          <div class="like-forms d-inline" data-article-id="{{ article.pk }}">
                            {% if request.user in article.like_user.all %}
                              <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
                            {% else %}
                              <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
                            {% endif %}
                          </div>
                        <span id="like-count" class="text-muted me-3">{{ article.like_user.count }}</span>
                      {% endif %}

                      <span class="bi bi-chat-dots-fill me-3"> 
                        <span class="">{{ article.comment_set.all.count }}</span>
                      </span>                                    
                    </div>

                    <div>
                      {% if request.user.is_authenticated %}
                        <div class="bookmark-forms d-inline" data-article-id="{{ article.pk }}">
                          {% if request.user in article.bookmark_user.all %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark-fill"></i>
                          {% else %}
                            <i id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark"></i>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>          
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
</div>

{% endblock content %}


{% block script %}
  <script>
    const link_user_articles = document.querySelector('#link_user_articles')
    const link_like_articles = document.querySelector('#link_like_articles')
    const link_bookmark_articles = document.querySelector('#link_bookmark_articles')
    const user_articles = document.querySelector('#user_articles')
    const like_articles = document.querySelector('#like_articles')
    const bookmark_articles = document.querySelector('#bookmark_articles')

    const userCollapse = new bootstrap.Collapse('#user_articles', {
      toggle: false
    })
    const likeCollapse = new bootstrap.Collapse('#like_articles', {
      toggle: false
    })

    if (bookmark_articles) {
      const bookmarkCollapse = new bootstrap.Collapse('#bookmark_articles', {
        toggle: false
      })
    
      user_articles.addEventListener('show.bs.collapse', event => {
        likeCollapse.hide()
        bookmarkCollapse.hide()
      })
      like_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
        bookmarkCollapse.hide()
      })
      bookmark_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
        likeCollapse.hide()
      })
    } else {
      user_articles.addEventListener('show.bs.collapse', event => {
        likeCollapse.hide()
      })
      like_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
      })
    }


  const allBtn = document.querySelectorAll('.tab-button');
  const allContent = document.querySelectorAll('.tab-content');
  const color = 'black'
  for (let i = 0; i < allBtn.length; i++) {
    allBtn[i].addEventListener('click', function () {
      for (let i = 0; i < allBtn.length; i++) {
        allBtn[i].classList.remove('blue');
      }

      allBtn[i].classList.add('blue');

    })
  }
  // function work() {

  // 	//alert('test');
  
  //   var text = document.getElementById("a").value;
  //   if(text != "") {
  //     alert(text);
  //   }
  
  // }

  </script>
{% endblock script %}