{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block title %}{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <section class="col-6 border border-3 rounded-3">
    <h1 class="text-center my-2">로그인</h1> 
    <div class="mt-5">
      <a href="{% url 'accounts:login' %}kakao" class="btn btn-warning col-6 my-2">카카오톡으로 로그인</a>
    </div>
    <form action="" method='POST'>
      {% csrf_token %}
      {% bootstrap_form login_form %}
      {% bootstrap_button button_type="submit" content="OK" %}
    <p class="text-center mt-5">회원이 아니신가요?
      <a class="to-signup" href="{% url 'accounts:signup' %}">
        <b>회원 가입<i class="bi bi-person-fill-add"></i>
        </b>
      </a>
    </p>
    </form>
  </section>
</div>
{% endblock content %}