{% extends 'nonavbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}member{% endblock %}
{% block css %}
<style>
body {
    background-color: #f3f5f7;
}

</style>


{% endblock %}
{% block content %}
<div class="container">
    <div class="signBox">
        <div class="signBox_bg form_wrap_line">
            <div class="logo">
                <img src="/static/images/검정로고.png" alt="" style="width: 200px; padding-bottom: 15px;">
            </div>
            <form action="" method="POST" id="form__wrap" data-multi-step>
                {% csrf_token %}
                <!-- 생년월일 -->
                <div class="card" data-step>
                    <div class="iBox">
                        <i class="fa-solid fa-circle" style="color: #1ea1f7;"></i>
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                    </div>
                    <div class="">
                        <p class="">
                            <input id="" type="Date" name="birthday" value="" placeholder="생년월일" required="" id="id_birthday" required>
                            <input type="hidden" name="initial-birthday" value=""id="initial-id_birthday">
                        </p>
                    </div>
                    <div class="progBtn1">
                        <button id="" class="memberBtn" type="button" data-next >다음</button>
                    </div>
                </div>
                <div class="card" data-step>
                    <div class="iBox">
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                        <i class="fa-solid fa-circle" style="color: #1ea1f7;"></i>
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                    </div>
                    <!-- 약관 동의 -->
                    <div class="checkall">
                        <span class="member-agree-checkbox_state">
                            <input type="checkbox" name="checkAll" id="checkAll" />
                        </span>
                        <label for="checkAll" class="member-agree-checkbox_label"
                        >이용약관, 개인정보 수집 및 이용, 프로모션 알림 메일 및 푸시 알림 수신(선택)에 모두 동의합니다.</label>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="check1 input__check">
                                <span class="member-agree-checkbox_state">
                                    <input type="checkbox" name="" id="termsOfService" value="termsOfService" required />
                                </span>
                                <label for="privacyPolicy" class="member-agree-checkbox_label required">RIP.GG 이용약관 동의</label>
                            </div>
                            <div class="croll-touch check terms__content">
                                여러분을 환영합니다. RIP.GG 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 RIP.GG
                                서비스의 이용과 관련하여 RIP.GG 서비스를 제공하는 RIP.GG 주식회사(이하 ‘RIP.GG’)와 이를 이용하는 RIP.GG 서비스
                                회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 RIP.GG 서비스 이용에 도움이 될 수 있는
                                유익한 정보를 포함하고 있습니다. RIP.GG 서비스를 이용하시거나 RIP.GG 서비스 회원으로 가입하실 경우 여러분은 본
                                약관 및 관련 운영 정책을 확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기
                                바랍니다.
                            </div>
                        </div>
                        <div class="">
                            <div class="check1 input__check">
                                <span class="member-agree-checkbox_state">
                                    <input type="checkbox" name="" id="privacyPolicy" value="privacyPolicy" required />
                                </span>
                                <label for="privacyPolicy" class="member-agree-checkbox_label required">개인정보 수집 및 이용 동의</label>
                            </div>
                            <div class="croll-touch check terms__content">
                                개인정보보호법에 따라 RIP.GG에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및
                                이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내 드리오니
                                자세히 읽은 후 동의하여 주시기 바랍니다.1. 수집하는 개인정보 이용자는 회원가입을 하지 않아도 정보 검색,
                                뉴스 보기 등 대부분의 네이버 서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 메일, 캘린더, 카페,
                                블로그 등과 같이 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, 네이버는 서비스 이용을
                                위해 필요한 최소한의 개인정보를 수집합니다.
                            </div>
                        </div>
                        <div class="">
                            <div class="check1 input__check">
                                <span class="member-agree-checkbox_state">
                                    <input type="checkbox" name="" id="allowPromotions" value="allowPromotions" />
                                </span>
                                <label for="allowPromotions" class="member-agree-checkbox_label"> 이벤트 등 프로모션 알림 및 푸시 알림 수신<span class="check2">(선택)</span></label>
                            </div>
                            <div class="croll-touch check terms__content">
                                RIP.GG에서 제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(RIP.GG앱 알림 또는 문자), 이메일로 받아보실 수
                                있습니다. 일부 서비스(별도 회원 체계로 운영하거나 RIP.GG 가입 이후 추가 가입하여 이용하는 서비스 등)의
                                경우, 개별 서비스에 대해 별도 수신 동의를 받을 수 있으며, 이때에도 수신 동의에 대해 별도로 안내하고
                                동의를 받습니다.
                            </div>
                        </div>
                    </div> 
                    <div class="progBtn2">
                        <!-- <button class="memberBtn previousBtn" type="button" data-previous>Previous</button>         -->
                        <a href="{% url 'home' %}" class="memberBtn previousBtn" type="button">비동의</a>        
                        <button class="memberBtn" type="button" data-next>다음</button>
                    </div>
                </div>
                <div class="card" data-step>
                    <!-- 기본 정보 -->
                    <div class="iBox">
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                        <i class="fa-solid fa-circle" style="color: #e9edef"></i>
                        <i class="fa-solid fa-circle" style="color: #1ea1f7;"></i>
                    </div>
                    <p class="">

                        <input id="user_id" type="text" name="email" maxlength="100" required=" "id="id_email"  autocomplete="off" required>
                        <label for="id_email"><span>이메일</span></label>
                    </p>
                    <p class="nickForm">
                        <input id="user_nick" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                        <label for="id_username"><span>닉네임</span></label>
                    </p> 

                    <p class="pwForm">
                        <input id="user_pw" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                        <label for="id_username"><span>비밀번호</span></label>
                    </p>
                    <p class="">
                        <input id="pwFormT" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                        <label for="id_username"><span>비밀번호확인</span></label>
                    </p>
                    <div class="progBtn2">
                        <a class="memberBtn previousBtn" href="{% url 'home' %}">취소</a>
                        <button class="memberBtn" type="submit">완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% block script %}
<script>
'use strict';

const form = document.querySelector('#form__wrap');
const checkAll = document.querySelector('.checkall input');
const checkBoxes = document.querySelectorAll('.input__check input');
const submitButton = document.querySelector('button');

const s = {
  termsOfService: false,
  privacyPolicy: false,
  allowPromotions: false,
};

form.addEventListener('submit', (e) => e.preventDefault()); // 새로고침(submit) 되는 것 막음

checkBoxes.forEach((item) => item.addEventListener('input', toggleCheckbox));

function toggleCheckbox(e) {
  const { checked, id } = e.target;  
  s[id] = checked;
  this.parentNode.classList.toggle('active');
  checkAllStatus();
  toggleSubmitButton();
}

function checkAllStatus() {
  const { termsOfService, privacyPolicy, allowPromotions } = s;
  if (termsOfService && privacyPolicy && allowPromotions) {
    checkAll.checked = true;
  } else {
    checkAll.checked = false;
  }
}

// function toggleSubmitButton() {
//   const { termsOfService, privacyPolicy } = s;
//   if (termsOfService && privacyPolicy) {
//     submitButton.disabled = false;
//   } else {
//     submitButton.disabled = true;
//   }
// }

checkAll.addEventListener('click', (e) => {
  const { checked } = e.target;
  if (checked) {
    checkBoxes.forEach((item) => {
      item.checked = true;
      s[item.id] = true;
      item.parentNode.classList.add('active');
    });
  } else {
    checkBoxes.forEach((item) => {
      item.checked = false;
      s[item.id] = false;
      item.parentNode.classList.remove('active');
    });
  }
  toggleSubmitButton();
});
</script>
{% endblock %}
{% endblock %}
