{% extends 'nonavbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %}member{% endblock %}
{% block css %}
<style>
body {
    background-color: #f3f5f7;
}

</style>
{% endblock css %}
{% block content %}
<div class="container">
    <div class="signBox">
        <div class="signBox_bg">
            <div class="logo">
                <img src="/static/images/검정로고.png" alt="" style="width: 200px; padding-bottom: 15px;">
            </div>                <!-- 생년월일 -->
            <div class="">
              <div class="">
                <form action="" method="POST">
                {% csrf_token %}                    
                  <div class="progBtn1">
                    <span>메일이 확인되지 않으</span>
                    <button id="" class="btn btn-link" type="submit">확인메일 재전송</button>
                  </div>
              </div>
            </div>
                                      <input type="submit" value="비밀번호 재설정 요청">
                      <input type="submit" value="확인메일 재전송">
            </form>
        </div>
    </div>
</div>
<form method="POST">
  {% csrf_token %}

</form>
<script>
    window.alert("입력해주신 이메일로 비밀번호 재전송 이메일을 보냈습니다");

  </script>
{% endblock content %}