{% extends 'nonavbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %} member{% endblock %}
{% block css %}
<style>
body {
    background-color: #f3f5f7;
}
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

</style>


{% endblock %}
{% block content %}
<div class="login_section">
  <!-- <section class="col-6 border border-3 rounded-3"> -->
  <div class="login_box">
    <div class="memberbox_inner">
      <div class="login_img">
        <img src="{% static 'images/검정로고.png' %}" width="150" alt="">
      </div>
      <h5 class="pw_title">비밀번호 변경 완료</h5>
      <div class="pw_title_sub">다시 로그인 해주세요.</div>
        <div class="pw_btn_box back_login">
        <a type="button" class="memberBtn nomarginBtn" href="{% url 'accounts:login' %}">로그인 하기</a>
        </div>
        <div class="text-center">
            <a cless="text-center"  href="{% url 'home' %}">홈으로</a>
        </div>
    </div>   
  </div>
</div>
{% block script %}
<script>  


</script>

{% endblock %}
{% endblock %}