{% extends 'nonavbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block title %} member{% endblock %}
{% block css %}
<style>
body {
    background-color: #f3f5f7;
}
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

</style>


{% endblock %}
{% block content %}
<div class="login_section">
  <!-- <section class="col-6 border border-3 rounded-3"> -->
  <div class="login_box">
    <div class="memberbox_inner">
      <div class="login_img">
        <img src="{% static 'images/검정로고.png' %}" width="150" alt="">
      </div>
      {% if validlink %}
      <h5 class="pw_title">신규비밀번호 입력</h5>
      <div class="pw_title_sub">서비스 이용을 위해 사용하실 새로운 비밀번호를 입력해주세요.</div>    
      <form action="" id="form" method='POST'>
      {% csrf_token %}
          <!-- 비밀번호 요청 이메일 -->
        <p>
          <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" autocomplete="off" required>
          <label for="id_new_password1"><span>신규 비밀번호 입력</span></label>
        </p>
        <p>
          <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" autocomplete="off" required>
          <label for="id_new_password2"><span>신규 비밀번호 재입력</span></label>
        </p>
        <div style="margin: 24px 0 10px; 0">
            <input class="memberBtn nomarginBtn" type="submit" value="확인">
        </div>  
      </form>
      {% else %}
      <h5 class="pw_title">이메일 인증 오류</h5>
      <div class="pw_title_sub">이메일 인증이 아래 사유로 정상적으로 이루어지지 않았습니다.</div>
      <div class="confirm_error">
        <ul>
          <li>인증 유효 시간 이후 링크를 통해 페이지에 접근하였을 경우</li>
          <li>비정상적인 경로로 페이지에 접근하였을 경우</li>
          <li>예기치 못한 오류 발생했을 경우</li>
        </ul> 
      </div>
      <div class="" style="margin: 20px 0 10px 0;">
        <a href="{% url 'home' %}" class="memberBtn nomarginBtn" type="button">메인으로 가기</a>        
      </div> 
      {% endif %}
    </div>   
  </div>
</div>
<!-- {% if validlink %}
<h1>새 비밀번호를 설정합니다!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
</form>

{% else %}

<p>유효하지 않은 링크입니다</p>

{% endif %}
<form method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="P1ZJHNjOJwN77WieiIbRQZPQda6OipCDY1Og7PJtwTlL81L6JCPYIM5ZrkanGIae">
  <ul class="errorlist"><li>필수 항목입니다.</li></ul>
<p><label for="id_new_password1">새 비밀번호:</label> <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> <span class="helptext"></span></p><ul><li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li><li>비밀번호는 최소 8자 이상이어야 합니다.</li><li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li><li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li></ul><p></p>
<ul class="errorlist"><li>필수 항목입니다.</li></ul>
<p><label for="id_new_password2">새 비밀번호 (확인):</label> <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></p>
</form>
{% block script %} -->
<script>  


</script>

{% endblock %}
{% endblock %}


