{% extends 'accountsBase.html' %}
{% load django_bootstrap5 %}
{% load static%}
{% block style %}
<style>
  /* 로그인 폼 스타일 */
p {
    position: relative;
    width: 100%;
    height: 50px;
    color: #dddfe4;
}

/* 기본세팅 */
p input {
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    border: 0 none;
    color: #000;
    background-color: transparent;
    outline: none;
    margin-top: 20px;
}

p label {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #dddfe4;
    text-align: left;
    pointer-events: none;
    margin-top: 20px;
}

p label:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #1ea1f7;
    transition: all .3s ease;
}

/* 파란색 가로줄 */
p label span {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all .3s ease;
}

p input:focus+label span,
p input:valid+label span {
    transform: translateY(-150%);
    font-size: 14px;
    color: #1ea1f7;
}

/* input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. */
/* 포커스 될 때 label span(name)이 위로 올라감 */
p input:focus+label::after,
p input:valid+label::after {
    width: 100%;
    transform: translateX(0);
}

/* 포커스 될 때 파란색 가로줄이 생김 */
</style>
{% endblock %}
{% block content %}

<main class="container">
  <form action="" method="POST">
    {% csrf_token %}    
    <div class="member-settings-layout__content-inner">
    <h2 class="member-settings-layout__title">비밀번호 변경</h2> 
    <div class="change-password__inner">      
      <div class="edit">
        <div class="edit__inner">
          <p class="">
            <input id="userOldPw" type="password" name="old_password" autocomplete="current-password" required=" "id="id_email"  autocomplete="off" required>
            <label for="userOldPw"><span>현재 비밀번호 입력</span></label>
          </p>
          <p class="">
            <input id="password1" type="password" name="new_password1" autocomplete="new-password" required="" id="id_password1" required>
            <label for="password1"><span>신규 비밀번호 입력</span></label>
          </p>
          <p class="">
              <input id="password2" type="password" name="new_password2" autocomplete="new-password" required="" id="id_password2" required>
              <label for="password2"><span>신규 비밀번호 재입력</span></label>
          </p>
          <div class="">
            <input  class="change_btn" id="change_btn"type="submit" value="변경" />
          </div>
        </div>
      </div>    
    </div>
    </div>
  </form>
</main>
{% endblock content %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/accountsPassword.js' %}"></script>
{% endblock script %}


