{% extends 'accountsBase.html' %}
{% load django_bootstrap5 %}
{% load static%}
{% block style %}
<style>
</style>
{% endblock %}
{% block content %}

<main class="container">
  
  <form action="" method="POST">
    {% csrf_token %}    
    <div class="member-settings-layout__content-inner">
      <h2 class="member-settings-layout__title">회원탈퇴</h2>
      <div class="delete_info_sub_title">회원탈퇴 전에 반드시 유의사항을 확인하고 진행해 주세요.        
      </div>          
      <div class="delete__inner">      
        <div class="edit">
          <div class="edit__inner">
            <h5>개인정보 및 서비스 이용 기록 삭제</h5>
            <div class="leave_info">개인정보 및 개인화 서비스 이용기록이 모두 삭제 되며, 삭제된 데이터는 복구되지 않습니다. 필요한 데이터는 미리 백업해 주시기 바랍니다.</div>
            <h5>소셜 계정 연결 정보 삭제</h5>
            <div class="leave_info">이메일 ID에 소셜 계정을 연결한 경우 탈퇴 시 연결 정보도 함께 삭제됩니다.</div>
            <h5>커뮤니티 서비스 등록 게시물 유지</h5>
            <div class="leave_info">회원가입 이후 등록하신 게시물들은 회원탈퇴 후에도 삭제 되지 않고 유지됩니다. 삭제를 원하시는 경우에는 직접 삭제하신 후 회원탈퇴를 진행하시기 바랍니다.</div>
            <h5>개인정보 보관</h5>
            <div class="leave_info">회원 탈퇴 시 일부 개인정보는 개인정보처리방침에 따라 탈퇴일로부터 30일간 보관되며, 그 이후 관계법령에 필요한 경우에는 별도 보관합니다.</div>
            <h5>탈퇴 후 제한</h5>
            <div class="leave_info">탈퇴 처리된 이메일 ID는 30일동안 재가입이 불가합니다.</div>
            <hr>
            <div class="member-checkbox member-circle-checkbox leave__checkbox">
              <span class="member-checkbox__state">
                <input id="" type="checkbox" class="member-checkbox__input" required>
              </span>
              <label for="" class="member-checkbox__label">
                회원탈퇴 시 유의사항을 확인하였으며, 모두 동의합니다.
              </label>
            </div>
            <div class="leave_progBtn2 ">
                <!-- <button class="memberBtn previousBtn" type="button" data-previous>Previous</button>         -->
                <a href="{% url 'home' %}" class="memberBtn previousBtn" type="button">비동의</a>        
                <a href="{% url 'accounts:delete' %}" class="memberBtn">동의</a>
            </div>
            <div class="">
            </div>
          </div>
        </div>
      </div>    
    </div>
  </form>

</main>
{% endblock content %}
{% block script %}

{% endblock script %}


