{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load article_filter %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
    {{ article.title }}
    {{ article.content|safe|linebreaks }}
    {% if request.user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">수정</a>
    <!-- 삭제 모달 버튼 -->
    <div>
        <a class="btn btn-secondary btn-sm" href="{% url 'articles:delete' article.pk %">삭제하기</a>
    </div>
    {% endif %}
    <!-- 비동기 북마크 -->
    <div class=" my-2 d-flex justify-content-center">
        <!-- 로그인 했다면 -->
        {% if request.user.is_authenticated %}
        {% if request.user in article.bookmark_users.all %}
        <i id="bookmark-btn" data-bookmark-id="{{ article.pk }}" class="fa-solid fa-heart"></i>
        {% else %}
        <i id="bookmark-btn" data-bookmark-id="{{ article.pk }}" class="fa-regular fa-heart"></i>
        {% endif %}
        <span id="bookmark-count">{{ article.bookmark_users.count }}</span>
        {% endif %}
    </div>

    <p>좋아요 버튼</p>
    <!-- article.pk번 게시글의 좋아요 -->
    {% if request.user.is_authenticated %}
    {% if request.user in article.like_user.all %}
    {% csrf_token %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
    {% else %}
    <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
    {% endif %}
    {% endif %}
    <span id="like-count">{{ article.like_user.count }}</span>


    <!-- article.pk번 게시글의 댓글 -->
    <!-- 댓글 작성 폼-->
    <h4 class="my-3">댓글</h4>
    {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST" id="comment-form"
        data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% bootstrap_form comments_form layout='floating'%}
        {% bootstrap_button button_type="submit" content="OK" %}
    </form>
    {% endif %}
    <hr>
    <!-- 댓글 목록 -->
    <div id="comments">
        {% for comment in comments %}
        <a href="">
            <p class="keyboard-comment-user">{{ comment.user }}</p>
        </a>
        {% if request.user not in comment.like_users.all %}
        <i class="bi bi-heart" data-review-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}"
            id="commentlike"></i>
        {% else %}
        <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
        {% endif %}
        <span id="like-count">{{ article.like_users.count }}</span>
    </div>

    <p> {{ comment.content }}</p>
    {% if user.is_authenticated and comment.user == request.user %}
    <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" class="my-0">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger mt-2" value="삭제">
    </form>
    {% endif %}
    <hr>
    {% empty %}
    <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
</div>


<!-- 댓글생성 JS -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--코멘트 생성-->
<script src="{% static 'js/comment_create.js' %}"></script>
<script src="{% static 'js/article_like.js' %}"></script>
<script src="{% static 'js/article_bookmark.js' %}"></script>
<script src="{% static 'js/comment_like.js' %}"></script>
{% comment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> {% endcomment %}
{% endblock %}