{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load article_filter %}
{% load widget_tweaks %}
{% block content %}
<style>
    a{
        text-decoration:none;
        color:black;
    }
    a:active{
        background-color:grey;
        color:green;
    }
</style>
<div class="container">
    <div class="row my-3 justify-content-center">
        <!-- 왼쪽 어사이드 -->
        {% if request.user.is_authenticated %}
        <div class="d-none d-xl-block col-xl-3 border my-3 rounded-2" style="max-height:600px; position:sticky; top:0; background-color:RGB(255, 255, 255);">
            <div class="my-2 container">
                <p>
                    <img style="width: 20%; height:20%;" src="{% static 'images/logo.png' %}" alt=""> <span>{{ user.username }}</span>
                    <span>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width:30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </span>
                </p>
                <hr>
                <div class="d-flex justify-content-between my-2">
                    <div>
                    <a href="?sort=3" class="btn" style="font-size:14px; border-color:RGB(70, 207, 167); color:RGB(70, 207, 167);">내가 쓴 글</a>
                    </div>
                    <div>
                    <a href="?sort=4" class="btn" style="font-size:14px; border-color:RGB(70, 207, 167); color:RGB(70, 207, 167);">내 와드</a>
                    </div>
                    <div>
                    <a href="?sort=5" class="btn" style="font-size:14px; border-color:RGB(70, 207, 167); color:RGB(70, 207, 167);">좋아요</a>
                    </div>
                </div>
                <a href="{% url 'articles:create' %}" class="btn w-100" style="color:RGB(248, 249, 250); background-color:RGB(70, 207, 167);"><span><i class="bi bi-pencil-square"></i></span> 글쓰기</a>
                <hr style="margin:10px;">
                
                <ul class="nav nav-tabs d-flex flex-column" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href=" {% url 'articles:index' %}" class="small"><button class="w-100 nav-link text-black text-start" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">전체</button></a>
                    </li>
                    {% for category in categories %}
                    <li class="nav-item" role="presentation">
                        <a class="my-1 small active" href="{% url 'articles:category' forloop.counter0 %} ">
                        {% if category == category_name %}
                        <button class="text-start nav-link active w-100" style="background-color:RGB(248, 249, 250); color:RGB(64, 188, 151);" type="button" role="tab" aria-selected="true">
                        {% else %}
                        <button class="text-start nav-link text-black w-100" type="button" role="tab" aria-selected="true">
                        {% endif %}
                        {{ category }}
                        </button></a></li>
                    {% endfor %}
                </ul>
    
            </div>
        </div>
        {% else %}
        <div class="d-none d-lg-block col-lg-3 border my-3 rounded-3" style="max-height:500px; position:sticky; top:0; background-color:RGB(255, 255, 255);">
            <div class="my-2 container">
                <a href="{% url 'accounts:login' %}" class="btn w-100 mt-2" style="color:RGB(183, 236, 221); background-color:RGB(70, 207, 167);">로그인</a>
                <hr style="margin:10px;">
                
                    <ul class="nav nav-tabs d-flex flex-column" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href=" {% url 'articles:index' %}" class="small"><button class="w-100 nav-link text-black text-start" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">전체</button></a>
                        </li>
                        {% for category in categories %}
                        <li class="nav-item" role="presentation">
                            <a class="my-1 small active" href="{% url 'articles:category' forloop.counter0 %} ">
                            {% if category == category_name %}
                            <button class="text-start nav-link active w-100" style="background-color:RGB(248, 249, 250); color:RGB(64, 188, 151);" type="button" role="tab" aria-selected="true">
                            {% else %}
                            <button class="text-start nav-link text-black w-100" type="button" role="tab" aria-selected="true">
                            {% endif %}
                            {{ category }}
                            </button></a></li>
                        {% endfor %}
                    </ul>
    
                </div>
            </div>
                {% endif %}
    
        <!-- 게시판 내용 -->
    <div class="col-lg-7 col-md-12" >
        <div class="border d-flex flex-column my-3 rounded-3" style="background-color:RGB(255, 255, 255);">
            <h4 class="m-3">
                {{ article.title }}
                {% if request.user == article.user %}
                <div style="float:right">
                    <a class="btn btn-primary btn-sm" href="{% url 'articles:update' article.pk %}">수정</a>
                    <!-- 삭제 모달 버튼 -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        삭제
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    정말로 삭제하시겠습니까?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'articles:delete' article.pk %}" class="btn btn-danger">삭제하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </h4>
            <p style="font-size:12px;" class="mx-3 ">{{ article.user.username }} |
                {% if article.created_string == False %}
                <span style="font-size:12px;">{{ article.created_at|date:'m월 d일' }}</span>
                {% else %}
                <span style="font-size:12px;">{{ article.created_string }}</span>
                {% endif %}
                <span class="me-3" style="float:right;">
                    댓글 {{ article.comment_set.count }} |
                    <span>추천 {{ article.like_user.count }}</span>
                </span>

            </p>
        
        <hr>
        <div class="mx-3">
            <p >{{ article.content|safe|linebreaks }}</p>
        </div>
        <hr>
        <!-- 비동기 북마크 -->
        <div class=" my-2 d-flex justify-content-center">
            <!-- article.pk번 게시글의 좋아요 -->
            {% if request.user.is_authenticated %}
            {% if request.user in article.like_user.all %}
            {% csrf_token %}
            <p>
                <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
            </p>
            {% else %}
            <p>
                <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
            </p>
            {% endif %}
            {% endif %}
            <span id="like-count">{{ article.like_user.count }}</span>
            &nbsp; |&nbsp; 
            <!-- 로그인 했다면 -->
            {% if request.user.is_authenticated %}
            {% if request.user in article.bookmark_user.all %}
            <!-- {% csrf_token %} -->
            <p>
                <i id="bookmark-btn" data-article-id="{{ article.pk }}" class="bi bi-bookmark-star-fill"></i>
            </p>
            {% else %}
            <p>
                <i id="bookmark-btn" data-article-id="{{ article.pk }}" class="bi bi-bookmark-star"></i>
            </p>
            {% endif %}
            {% endif %}
    </div>
    <!-- article.pk번 게시글의 댓글 -->
    <!-- 댓글 작성 폼-->
</div>


    <div class="border rounded-3" style="background-color:RGB(255, 255, 255);">
        <h4 class="m-3">댓글</h4>
        {% if request.user.is_authenticated %}
        <form class="m-3" action="{% url 'articles:comment_create' article.pk %}" method="POST" id="comment-form"
            data-article-id="{{ article.pk }}">
            {% csrf_token %}
            {% bootstrap_form comments_form layout='floating'%}
            {% bootstrap_button button_type="submit" content="OK" %}
        </form>
        {% endif %}
                    <!-- 댓글 목록 -->
                    <div id="comments" class="m-3">  
                        <hr>
                        {% for comment in comments %}
                        <div class="div_comment">
                            <a class="keyboard-comment-user" href="{% url 'accounts:detail' comment.user.pk %}" style="text-decoration: none;">{{ comment.user }}</a> 

                    <!-- 좋아요 (나중에 폼으로 만들기) -->
                    {% if request.user.is_authenticated %}
                        {% if request.user in comment.like_users.all %}
                            <i class="like-btn-comment bi bi-hand-thumbs-up-fill" data-article-id="{{ comment.article.id }}" data-comment-id="{{ comment.id }}"></i>
                        {% else %}
                            <i class="like-btn-comment bi bi-hand-thumbs-up" data-article-id="{{ comment.article.id }}" data-comment-id="{{ comment.id }}"></i>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="mx-2">
                        <i class="bi bi-hand-thumbs-up"></i>
                        </a>
                    {% endif %}   
                    <span class="like-count-comment">{{ comment.like_user.count }}</span>
                    <p>{{ comment.content }}</p>
                    <p class="comment-control-delete btn btn-outline-danger mb-2" onclick="comment_delete(this)" id="comment-delete-{{ comment.pk }}" data-postdel-id="{{ article.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</p>
                </div>
                <!-- <p class="comment-control-delete btn btn-outline-danger mb-2" onclick="comment_delete(this)" id="comment-delete-${commentData[i].commentPk}" data-postdel-id="${response.data.articlePk}" data-commentdel-id="${commentData[i].commentPk}">삭제</p> -->
                <hr>
                {% empty %}
                <div class="text-center">
                    <p class="d-flex flex-column">
                    <i class="bi bi-chat-left-dots"></i>
                    등록된 댓글이 없습니다.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</div>  
{% endblock content %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 댓글 생성 -->
    <script src="{% static 'js/comment_create.js' %}"></script>
    <!-- 댓글 삭제 -->
    <script src="{% static 'js/comment_delete.js' %}"></script>
    <!-- 게시글 좋아요 -->
    <script src="{% static 'js/article_like.js' %}"></script>
    <!-- 북마크 -->
    <script src="{% static 'js/article_bookmark.js' %}"></script>
    <!-- 댓글 좋아요 -->
    <script src="{% static 'js/comment_like.js' %}"></script>
    <!-- 댓글 좋아요 삭제, 생성 비동기 -->
    <script src="{% static 'js/comment_like_detail.js' %}"></script>
    {% endblock script %}

