{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load article_filter %}
{% load widget_tweaks %}
{% block content %}
<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:active {
        background-color: grey;
        color: green;
    }
</style>
<!-- 게시판 -->

<div class="row my-3">
    <!-- 왼쪽 어사이드 -->
    {% if request.user.is_authenticated %}
    <div class="d-none d-lg-block col-lg-3 border border-3 my-3 rounded-3"
        style="max-height:600px; position:sticky; top:0;">
        <div class="my-2 container">
            <p>
                <img style="width: 20%; height:20%;" src="{% static 'images/logo.png' %}" alt=""> <span>{{ user.username
                    }}</span>
                <span>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width:30%;"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </span>
            </p>
            <hr>
            <div class="d-flex justify-content-between my-2">
                <a href="?sort=3" class="btn btn-outline-success">내가 쓴 글</a>
                <a href="?sort=4" class="btn btn-outline-success">내 와드</a>
                <a href="?sort=5" class="btn btn-outline-success">좋아요</a>
            </div>
            <hr>
            <a href="{% url 'articles:create' %}" class="btn btn-success w-100">글쓰기</a>
            <hr>
            <div class="d-flex flex-column">
                <a name="tag1" class="my-1 small" href="?sort=6">자유</a>
                <a class="my-1 small" href="?sort=7">유머</a>
                <a class="my-1 small" href="?sort=10">팬아트</a>
                <hr>
                <a class="my-1 small" href="?sort=8">유저찾기</a>
                <a class="my-1 small" href="?sort=12">유저뉴스</a>
                <a class="my-1 small" href="?sort=13">팁과노하우</a>
                <hr>
                <a class="my-1 small" href="?sort=11">기획</a>
                <a class="my-1 small" href="?sort=9">사건사고</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="d-none d-lg-block col-lg-3 border border-3 my-3 rounded-3"
        style="max-height:400px; position:sticky; top:0;">
        <div class="my-2 container">
            <a href="{% url 'accounts:login' %}" class="btn btn-primary w-100 mt-2">로그인</a>
            <hr>
            <div class="d-flex flex-column">
                <a class="my-1 small" href="?sort=6">자유</a>
                <a class="my-1 small" href="?sort=7">유머</a>
                <a class="my-1 small" href="?sort=10">팬아트</a>
                <hr>
                <a class="my-1 small" href="?sort=8">유저찾기</a>
                <a class="my-1 small" href="?sort=12">유저뉴스</a>
                <a class="my-1 small" href="?sort=13">팁과노하우</a>
                <hr>
                <a class="my-1 small" href="?sort=11">기획</a>
                <a class="my-1 small" href="?sort=9">사건사고</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- 게시판 내용 -->
    <div class="col-lg-9 col-md-12">
        <div class="border border-3 d-flex flex-column my-3 rounded-3">
            <h6 class="mx-3 mt-3"><a href="">전체</a>
                <span class="d-flex" style="float:right;">
                    <a class="me-3 d-md-none d-sm-block">
                        <i class="bi bi-search"></i>
                    </a>
                    <a href="{% url 'articles:create' %}" class="text-info"><i class="bi bi-pencil-square"></i></a>
                </span>

            </h6>
            <div class="d-flex my-3 ">
                <div class="d-flex justify-content-between col-8">
                    <a href="?sort=1" style="min-width:60px;" class="small col-2 mx-3 d-flex align-items-centerz"><i
                            class="bi bi-fire"></i>인기순</a>
                    <a href="{% url 'articles:index' %}" style="min-width:60px;"
                        class="small col-2 mx-3 d-flex align-items-center"><i class="bi bi-hand-thumbs-up"></i>최신순</a>
                    <a href="?sort=2" style="min-width:60px;" class="small col-2 mx-3 d-flex align-items-center"><i
                            class="bi bi-hand-thumbs-up"></i>댓글순</a>
                </div>
                <div class="d-none d-md-block col-4">
                    <form class="d-flex" role="search" style="width:100%; height:100%;">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-sm btn-outline-success" type="submit">
                            <i class="bi bi-search"></i></button>
                    </form>
                </div>

            </div>
        </div>
        <table class="table">
            <tbody>
                {% if article %}
                <!-- 기본 전체 -->
                {% for articles in article %}
                <tr class="border">
                    <td class="d-flex justify-content-between">
                        <div class="col-md-1 col-sm-1">
                            <p class="d-flex flex-column text-center"><span style="font-size: 8px;">추천</span>{{
                                articles.like_user.count }}</p>
                        </div>
                        <div class="d-flex flex-column col-md-10 col-sm-9">
                            <a href="{% url 'articles:detail' articles.pk %}" class="">{{ articles.title }}
                                {% if articles.comment_set.count > 0 %}
                                <span class="text-success small mx-2">[{{ articles.comment_set.count }}]</span>
                                {% endif %}
                            </a>
                            <p style="font-size:12px;">{{ articles.user.username }} |
                                {% if articles.created_string == False %}
                                <span style="font-size:12px;">{{ articles.created_at|date:'m월 d일' }}</span>
                                {% else %}
                                <span style="font-size:12px;">{{ articles.created_string }}</span>
                                {% endif %}
                            </p>
                        </div>

                        {% if articles.photo %}
                        <div class="col-md-1 col-sm-2" style="float:right;">
                            <img style="width:100%; height:100%;" src="{{ articles.photo.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="col-md-1 col-sm-2" style="float:right;">
                            <img style="width:100%; height:100%;" src="https://dummyimage.com/100x80/000000/c4c4c4"
                                alt="">
                        </div>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}
                {% else %}
                <tr>
                    <td colspan='4'>글이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if article.has_previous %}
            <li class="page-item">
                <a href="?page={{article.previous_page_number }}" class="page-link">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">이전</a>
            </li>
            {% endif %}
            <!-- 페이지 리스트-->
            {% for page_number in article.paginator.page_range %}
            {% if page_number >= article.number|add:-5 and page_number <= article.number|add:5 %} {% if
                page_number==article.number %} <li class="page-item active" aria-current="page">
                <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지-->
                {% if article.has_next %}
                <li class="page-item">
                    <a href="?page={{ article.next_page_number }}" class="page-link">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="1" aria-disabled="true">다음</a>
                </li>
                {% endif %}
        </ul>
        <!-- 페이징처리 end-->

    </div>
</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $("a").click(function () {
        toggleClass(".active-color");
    })
</script>