{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load article_filter %}
{% load widget_tweaks %}
{% block content %}
<style>
    a{
        text-decoration:none;
    }
</style>
<!-- 게시판 -->
<div class="row my-3">
    <div class="col-3">

    </div>
    <div class="col-9">
        <div class="border border-3 d-flex flex-column my-3">
            <h6 class="mx-3 mt-3"><a href="">전체</a>
                <a href="{% url 'articles:create' %}" class="text-info" style="float:right;"><i class="bi bi-pencil-square"></i></a>
            </h6>
    
            
            <div class="d-flex my-3">
            <a href="" class="small col-2 mx-3"><i class="bi bi-fire"></i>인기</a>
            <a href="" class="small col-2 mx-3"><i class="bi bi-hand-thumbs-up"></i>최신</a>
            <a href="" class="small col-2 mx-3">뭘넣냐</a>
            <div class="col-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-success" type="submit">
                        <i class="bi bi-search"></i></button>
                </form>
            </div>
            </div>
        </div>
    <table class="table">
        <tbody>
            {% if article %}
            {% for articles in article %}
        <tr class=" border">
                <td class="d-flex">
                    <p class="mx-3 d-flex flex-column text-center"><span style="font-size: 8px;">추천</span>{{ articles.like_user.count }}</p>
                    <div class="d-flex flex-column mx-3">
                        <a href="{% url 'articles:detail' articles.pk %}" class="" >{{ articles.title }}
                            {% if articles.comment_set.count > 0 %}
                            <span class="text-success small mx-2">[{{ articles.comment_set.count }}]</span></a>
                        <p style="font-size:12px;">{{ articles.user.username }} |
                        {% if articles.created_string == False %}
                        <span style="font-size:12px;">{{ articles.created_at|date:'m월 d일' }}</span>
                        {% else %}
                        <span style="font-size:12px;">{{ articles.created_string }}</span>
                        {% endif %}
                        </p>
                    </div>
                </td>
                {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan='4'>글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>    
    
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if article.has_previous %}
        <li class="page-item">
            <a href="?page={{article.previous_page_number }}" class="page-link">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트-->
        {% for page_number in article.paginator.page_range  %}
        {% if page_number >= article.number|add:-5 and page_number <= article.number|add:5 %}
        {% if page_number == article.number %}
        <li class="page-item active" aria-current="page">
            <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지-->
        {% if article.has_next %}
        <li class="page-item">
            <a href="?page={{ article.next_page_number }}" class="page-link">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="1" aria-disabled="true">다음</a></li>
        {% endif %}
    </ul>
    <!-- 페이징처리 end-->
    
</div>
</div>

{% endblock content %}
