{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="kr">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="#">
  <title>RIP.gg
    {% block title %}{% endblock title %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
  <!-- 파비콘 -->
  <link rel="icon" type="image/png" href="/static/images/logo.png" sizes="16x16">
  <!-- 부트스트랩 icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  {% block style %}{% endblock style %}
</head>

<body data-spy="scroll" data-target="#scroll-spy">
  <header>
    <!-- place navbar here -->
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="{% static 'images/logo.png' %}" height="60px" alt="네브로고"></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li>
              <a href="#">nav1</a>
            </li>
            <li>
              <a href="#">nav2</a>
            </li>
            <li>
              <a href="#">nav3</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="dd-toggle">
              <a class="dd-btn" aria-hidden="true">
                {{ user.nickname }}
                님
                <i class="bi bi-caret-down-fill"></i>
              </a>
              <ul class="arrow_box">
                <li class="dd-list">
                  <a class="dd-item" href="#">
                    <i class="bi bi-person-fill"></i>
                    내 정보</a>
                </li>
                <li class="dd-list">
                  <a class="dd-item" href="#">
                    <i class="bi bi-pencil-square"></i>
                    정보 수정</a>
                </li>
                <li class="dd-list">
                  <a class="dd-item" href="{% url 'accounts:logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                    로그아웃</a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
      <span class="navTrigger">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </nav>
    <!-- /.fixed navigation -->
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <!-- place footer here -->
    <span class="me-5">footer</span>
    <img src="{% static 'images/logo.png' %}" alt="footerlogo">
  </footer>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- Jquery needed -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Function used to shrink nav bar removing paddings and adding black background -->
  <script>
    // nav scroll
    $(window).scroll(function () {
      if ($(document).scrollTop() > 50) {
        $('.nav').addClass('affix');
        console.log("OK");
      } else {
        $('.nav').removeClass('affix');
      }
    });

    $('.navTrigger').click(function () {
      $(this).toggleClass('active');
      console.log("Clicked menu");
      $("#mainListDiv").toggleClass("show_list");
      $("#mainListDiv").fadeIn();

    });
  </script>

  {% block script %}{% endblock script %}
</body>

</html>