{% extends "homeBase.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load article_filter %}
{% load widget_tweaks %}
{% block content %}
<main class="main_box">
    <div>
        <div class="first_box">
            <div class="first_box-inner">
                <img src="/static/images/검정로고.png" alt="">
                <!-- 검색창 -->
                <div class="search_box">
                    <div class="search_box-inner">
                        <input type="text" value="" class="" placeholder="챔피언, 챔피언..">
                        <i type="submit" class="fa-regular fa-chess-queen"></i>
                        <input  style="display: none" />
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <!-- 최신글 목록 -->
    <section class="articles_list">
        <div class="articles_list-inner">            
            <div class="">
                <div class="article_list_box">
                    <h5>최신글 목록</h5>
                    {% if lately_a %}
                    {% for article in lately_a %}
                    <div class="article_new_list">
                        <a href="{% url 'articles:detail' article.pk %}">
                            <div class="article1">
                                <div class="article_new_num">
                                    {{forloop.counter}}
                                </div>
                                <div class="article_img_box">
                                    {% if article.photo %}
                                    <div class="" style="float:right;">
                                        <img style="width:100%; height:100%;" src="{{ article.photo.url }}" alt="">
                                    </div>
                                    {% else %}
                                    <div class="" style="float:right;">
                                        <img style="width:100%; height:100%;" src="https://dummyimage.com/100x80/000000/c4c4c4" alt="">
                                    </div>
                                    {% endif %}                               
                                </div>
                                <div class="article_content-box">
                                    <div class="article_info">
                                        <div class="article_title">
                                            {{ article.title|safe }}
                                        </div>
                                        <div class="article_coment">
                                            [{{ article.comment_set.count }}]                                    
                                        </div>
                                    </div>
                                    <div class="article_info-sub">
                                        <!-- 인기글 사용할 때 주석 풀기 -->
                                        <!-- {{ article.like_user.count }} -->
                                        <div class="created_string">
                                            {{ article.created_string }}
                                        </div>
                                        &nbsp;
                                        <div>
                                            {{ article.user.username }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        게시물이 없습니다.
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- 인기순 글 목록 -->
            <div class="">
                <div class="article_list_box">
                    <h5>인기글 목록</h5>
                    {% if best_a %}
                    {% for article in best_a %}
                    <div class="article_new_list">
                        <a href="{% url 'articles:detail' article.pk %}">
                            <div class="article1">
                                <div class="article_new_num">
                                    {{forloop.counter}}
                                </div>
                                <div class="article_img_box">
                                    {% if article.photo %}
                                    <div class="" style="float:right;">
                                        <img style="width:100%; height:100%;" src="{{ article.photo.url }}" alt="">
                                    </div>
                                    {% else %}
                                    <div class="" style="float:right;">
                                        <img style="width:100%; height:100%;" src="https://dummyimage.com/100x80/000000/c4c4c4" alt="">
                                    </div>
                                    {% endif %}                               
                                </div>
                                <div class="article_content-box">
                                    <div class="article_info">
                                        <div class="article_title">
                                            {{ article.title|safe }}
                                        </div>
                                        <div class="article_coment">
                                            [{{ article.comment_set.count }}]                                    
                                        </div>
                                    </div>
                                    <div class="article_info-sub">
                                        <!-- 인기글 사용할 때 주석 풀기 -->
                                        <!-- {{ article.like_user.count }} -->
                                        <div class="created_string">
                                            {{ article.created_string }}
                                        </div>
                                        &nbsp;
                                        <div>
                                            {{ article.user.username }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        게시물이 없습니다.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    

<!-- like_user 오류 -->
<!-- {% for like_a in best_a %}
{{article.title}}
{{article.content}}
{% endfor %} -->

</main>
{% endblock %}