.blue1 {
    color: #CDFAFA;
    color: rgb(205, 250, 250);
}

.blue2 {
    color: #0AC8B9;
    color: rgb(10, 200, 185);
}

.blue3 {
    color: #0397AB;
    color: rgb(3, 151, 171);
}

.blue4 {
    color: #005A82;
    color: rgb(0, 90, 130);
}

.blue5 {
    color: #0A323C;
    color: rgb(10, 50, 60);
}

.blue6 {
    color: #091428;
    color: rgb(9, 20, 40);
}

.blue7 {
    color: #0A1428;
    color: rgb(10, 20, 40);
}