{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 25vh; margin-bottom: 30vh;">
            <div class="summoners_img" style="position: relative;">
                <img src="/static/images/징크스2.png" alt="">
            </div>
            <form method="get" name="search_form" action="{% url 'summoners:result' %}" class="d-flex justify-content-center">
                <div class="search_box search_box_summoners">
                    <div class="search_box-inner">
                        <input type="text" placeholder="🧙🏻‍♂️ 소환사명을 입력해주세요." name="search_text"
                            value="{{search_text}}" style="max-width: 100vh; border-radius: 25px; position: relative;">
                        <span class="input-group-btn">
                                    <button class="btn btn-secondary clear-btn" type="submit"
                                        style="background-color: black; border-radius: 100%;">
                                        <i class="fa fa-search"></i>
                                    </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}