{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <div class="d-flex justify-content-center">
                <img src="/static/images/검정로고.png" alt="" style="width: 50vh;">
            </div>
            <form method="get" name="search_form" action="{% url 'summoners:result' %}">
                <div class="input-group d-flex justify-content-center mt-4">
                    <input type="text" class="form-control" placeholder="🧙🏻‍♂️ 소환사명을 입력해주세요." name="search_text"
                        value="{{search_text}}" style="max-width: 100vh; border-radius: 25px; position: relative;">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary clear-btn" type="submit"
                            style="background-color: black; border-radius: 100%;"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}